{% extends '../base/base.html' %}
{% load staticfiles %}
{% block title %}用户管理{% endblock %}

{% block head %}
<link rel="stylesheet" media="all" href="{% static 'css/iconfont.css' %}?v={{ version }}">
<style type="text/css">
  .installlogcontrol {
    width: 100%;
  }

  .installlogcontrol button {
    float: left;
    margin-top: 8px;
  }

  .installlogcontrol>button span {
    color: white;
    margin-right: 8px;
    font-size: 13px;
  }

  .installlogcontrol>input {
    vertical-align: text-bottom;
    margin-right: 5px;
    margin-left: 15px;
  }

  .installloginput {
    float: right;
    margin-right: 10px;
  }

  .installloginput input {
    width: 480px;
    border: 1px solid #E8E8E8;
    border-radius: 3px;
    line-height: 32px;
    height: 32px;
    padding: 0 40px 0 5px;
    float: left;
    margin-left: 55px;
    margin-top: 6px;
    font-size: 12px;
  }

  .installloginput button {
    outline: none;
    margin-left: -38px;
    background: #e9e9e9;
    border: 0;
    height: 30px;
    position: relative;
    margin-top: 7px;
    margin-right: 110px;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
  }

  .installloginput button span {
    font-size: 18px;
    top: -3px;
    width: 25px;
  }

  .bklerimore {
    float: left;
    position: relative;
    /*height: 250px;*/
    width: 99.5%;
    background: #FFFFFF;
    border: 1px solid #E8E8E8;
    box-sizing: border-box;
    margin: 0;
    border-radius: 4px;
    min-width: 800px;
    margin-bottom: 15px;
  }

  .systemstate {
    display: flex;
    justify-content: space-around;
    overflow-x: hidden;
    min-width: 824px;
    width: 100%;
    word-break:break-all;
    word-wrap:break-word;
  }

  .systemstate > li {
    float: left;
  }

  .systemstate span.cicle_title {
    margin-left: 35%;
    text-align: center;
  }

  .bklerimoreleft ul,
  .bklerimoreright ul {
    clear: both;
  }

  .bklerimoreleft ul li,
  .bklerimoreright ul li {
    float: left;
  }

  .bklerimoreleft ul li:first-child,
  .bklerimoreright ul li:first-child {
    width: 75px;
  }

  .bklerimoreleft ul li input,
  .bklerimoreright ul li input {
    height: 29px;
    width: 170px;
    border: 1px solid #dbdbdb;
    outline: none;
    border-radius: 3px;
  }

  .bklerimoreleft,
  .bklerimoreright {
    float: left;
    width: 350px;
  }
  .cicle {
    position: relative;
    /*margin: 100px auto;*/
    width: 100px;
    height: 100px;
    border-width: 20px;
    border-color: #CBCBCB;
    border-style: solid;
    border-radius: 50%;
    box-sizing: content-box;
  }

  .cicle .bar {
    position: absolute;
    width: 70px;
    height: 140px;
    overflow: hidden;
  }

  .cicle .bar-left {
    top: -20px;
    left: -20px;
  }

  .cicle .bar-left .bar-left-an {
    position: absolute;
    z-index: 10;
    width: 100px;
    height: 100px;
    border-width: 20px;
    border-style: solid;
    border-radius: 50%;
    transform: rotate(-135deg);
    box-sizing: content-box;
  }

  .cicle .bar-right {
    top: -20px;
    left: 50px;
  }

  .cicle .bar-right .bar-right-an {
    position: absolute;
    left: -70px;
    z-index: 20;
    width: 100px;
    height: 100px;
    border-width: 20px;
    border-style: solid;
    border-radius: 50%;
    transform: rotate(-135deg);
    box-sizing: content-box;
  }

  .cicle .tx {
    position: absolute;
    width: 100px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    font-size: 18px;
    font-weight: 800;
    color: #666666;
  }
  .bkleft1{
    height: 880px;
  }
  @media screen and (max-width:1300px){
    .bklerimore{
      margin-bottom: 5px;
    }
    .bkleft1{
      height: 860px;
    }
  }
  .panel-body{
    overflow: hidden;
  }
  .handlings {
    width: 15px;
  }
</style>
{% endblock %}

{% block content %}
<div class="content">
    <div class="bkleft sidebar ">
        <ul class="side-nav nav">
            <li>
                <a href="#" data-target="#task_list_ul" data-toggle="collapse" class="nav-title" aria-expanded="true">用户管理<i class="caret"></i></a>
                <ul id="task_list_ul" class="nav-second-title collapse show in" aria-expanded="true">
                    <li>
                        <a href="users" class="act">
                            用户列表
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="bkleri">

    <div class="boxleft installmore">
        <div class="installthree">
            {% if is_superuser %}
            <div class="installbarT clearfix">
                <div class="installbarTinside clearfix">
                    <button class="logobtn installthreebtn">
                        <i class="iconfont icon-plus"></i>手动添加
                    </button>
                </div>
            </div>
            {% endif %}
            <div>
                <table class="table tablebreak">
                    <thead>
                    <tr>
                        <th style="width: 2%;"></th>
                        <th style="width: 10%;">用户名</th>
                        <th style="width: 9%;">角色</th>
                        <th style="width: 10%;">负责人</th>
                        <th style="width: 16%;">邮箱</th>
                        <th style="width: 14%;">电话</th>
                        <th style="width: 7%;">状态</th>
                        <th style="width: 12%;">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in forms %}
                    <tr>
                        <td>
                        </td>
                        <td>{{ item.1 }}</td>
                        <td>{{ item.2 }}</td>
                        {% if item.3 != None %}
                        <td>{{ item.3 }}</td>
                        {% else %}
                        <td></td>
                        {% endif %}
                        <td>
                            {{ item.4 }}
                        </td>
                        {% if item.5 != None %}
                        <td>{{ item.5 }}</td>
                        {% else %}
                        <td></td>
                        {% endif %}
                        <td>正常</td>
                        <td>
                            {% if is_superuser %}
                            <a rel="users/update_user?user_id={{ item.0 }}" class="user-edit"
                               href="javascript: void(0)" title="修改信息"><i
                                    class="iconfont icon-pen"></i></a>
                            <a rel="users/update_password?user_id={{ item.0 }}" class="user-reset-passwd" title="重置密码"
                               href="javascript: void(0)"><i class="iconfont icon-key" aria-hidden="true"
                                                             style="margin: 0 10px 0 0;color: #01acfe;"></i></a>
                            <a id="{{ item.0 }}" data-confirm="确定要删除吗？" rel="nofollow" data-method="delete" title="删除用户"
                               href="users/del_user?user_id={{ item.0 }}">
                                <i class="iconfont icon-delete"></i>
                            </a>
                            {% else %}
                            {% if username == item.1 %}
                            <a rel="users/update_user?user_id={{ item.0 }}" class="user-edit"
                               href="javascript: void(0)" title="修改信息"><i
                                    class="iconfont icon-pen"></i></a>
                            <a rel="users/update_password?user_id={{ item.0 }}" class="user-reset-passwd" title="重置密码"
                               href="javascript: void(0)"><i class="iconfont icon-key" aria-hidden="true"
                                                             style="margin: 0 10px 0 0;color: #01acfe;"></i></a>
                            <a id="{{ item.0 }}" data-confirm="确定要删除吗？" rel="nofollow" data-method="delete" title="删除用户"
                               href="users/del_user?user_id={{ item.0 }}">
                                <i class="iconfont icon-delete"></i>
                            </a>
                            {% endif %}
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <ul class="paginationself right">
                    <div class="totalnum">
                        <p class="totalnump">总数&nbsp;&nbsp;: &nbsp;<i class="totalnumber">{{ ans.num }}</i></p>
                    </div>
                </ul>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}

{% block content1 %}
<div class="body-color" style="display: none;"></div>
{% endblock %}

{% block script %}
<script>
    $(function () {
        $(".user-edit").click(function () {
            $.get($(this).attr('rel'), function (html) {
                $("#create-div").html(html);
            }, 'html');
            $('.body-color').fadeIn(100); //全局变得黑的效果，
            $('#installtwo').show();
        })

        $(".user-reset-passwd").click(function () {
            $.get($(this).attr('rel'), function (html) {
                $("#create-div").html(html);
            }, 'html');
            $('.body-color').fadeIn(100); //全局变得黑的效果，
            $('#installtwo').show();
        })
    })
    $(function () {
       $("#1") .remove()
    })
    $('.installthreebtn').click(function () {
        $.get("users/add_user", function (html) {
            $("#create-div").html(html);
        }, 'html');
        $('.body-color').fadeIn(100); //全局变得黑的效果，
        $('#installtwo').show();
    });
</script>
{% endblock %}