
<body>
<div class="form-container">

    <form class="user_form" id="edit_user_1" action="users/update_user" accept-charset="UTF-8"
          data-remote="true"
          method="post">
        <input style="display:none" name="past_username" value="{{ userinfo.username }}">
        <p class="installarp">
            用户信息
            <span style="color: red;font-size: 12px;">
                      </span>
        </p>
        <table class="alertbox2table" style="margin-top: 15px;" cellspacing="15" cellpadding="15"
               border="0">
            <tbody>
            <tr>
                <td>用户名:</td>
                <td>
                    <input readonly="readonly" disabled="disabled" type="text" value="{{ userinfo.username }}" name="user[username]" id="user_username">
                </td>
            </tr>
            <tr>
                <td>角色:</td>
                <td>
                    <select class="installtwocopy2" name="user[role_name]" id="user_role_name">
                        <!--{% if userinfo.rolename == '资产管理员' %}-->
                            <!--<option value="资产管理员" selected>资产管理员</option>-->
                        <!--{% else %}-->
                            <!--<option value="资产管理员">资产管理员</option>-->
                        <!--{% endif %}-->
                        <!--{% if userinfo.rolename == '漏洞扫描员' %}-->
                            <!--<option value="漏洞扫描员" selected>漏洞扫描员</option>-->
                        <!--{% else %}-->
                            <!--<option value="漏洞扫描员">漏洞扫描员</option>-->
                        <!--{% endif %}-->
                        {% if userinfo.rolename == '超级管理员' %}
                            <option value="超级管理员" selected>超级管理员</option>
                        {% else %}
                            <option value="超级管理员">超级管理员</option>
                        {% endif %}
                        {% if userinfo.rolename == '普通用户' %}
                            <option value="普通用户" selected>普通用户</option>
                        {% else %}
                            <option value="普通用户">普通用户</option>
                        {% endif %}
                    </select>
                </td>
            </tr>
            <tr>
                <td>负责人:</td>
                <td><input type="text" value="{{ userinfo.realname }}" name="user[realname]" id="user_realname"></td>
            </tr>
            <tr>
                <td>邮箱:</td>
                <td>
                    <input readonly="readonly" value="{{ userinfo.email }}" type="text"
                           name="user[email]" id="user_email">
                </td>
            </tr>

            <tr>
                <td>电话:</td>
                <td><input type="text" value="{{ userinfo.telephone }}" name="user[tel]" id="user_tel"></td>
            </tr>

            </tbody>
        </table>
        <div class="alertboxbottom">
            <button class="btn2 user-save" type="button" style="margin-left:207px ;margin-top: 42px;">保存
            </button>
        </div>
    </form>

    <script type="text/javascript">
        $(function () {
            //隐藏列表框
            $("body").click(function () {
                $(".div_items").css('display', 'none');
            });
            //移入移出效果
            $(".div_items").on("mouseover mouseout", '.div_item', function (event) {
                if (event.type == "mouseover") {
                    $(this).css('background-color', '#dbdbdb').css('color', 'white');
                } else if (event.type == "mouseout") {
                    $(this).css('background-color', '').css('color', '#666666');
                }
            })
            //项点击
            $(".div_items").on('click', ".div_item", function () {
                $(this).parent().prev().val($(this).text());
            });
            //弹出列表框
            $(".txt1").click(function () {
                var this1 = $(this).next('div');
                this1.css('display', 'block');
                var type = $(this).attr('rel'), val = $(this).val();
                get_search_infos($(this), type, '/staffs/get_companies?type=' + type + '&q=' + val);
                return false;
            });
            //文本框输入
            $(".txt1").keyup(function () {
                var type = $(this).attr('rel'), val = $(this).val();
                get_search_infos($(this), type, '/staffs/get_companies?type=' + type + '&q=' + val);
            });
        })
    </script>
    <script type="text/javascript">
        $(function () {
            //弹出列表框
            $(".txt_group_name").click(function () {
                var this1 = $(this).next('div'), company = $("#user_company").val();
                this1.css('display', 'block');
                get_search_infos($(this), '', '/staffs/get_groupname?company=' + company + '&q=' + $(this).val());
                return false;
            });
            //文本框输入
            $(".txt_group_name").keyup(function () {
                var company = $("#user_company").val();
                get_search_infos($(this), '', '/staffs/get_groupname?company=' + company + '&q=' + $(this).val());
            });
        })
    </script>
</div>
<script type="text/javascript">
    $(function () {
        $(".form-container").on("click", ".user-save", function () {
            var email = $("#user_email"), password = $("#user_password");
            if ($.trim(email.val()) == "") {
                alert("请填写邮箱");
                return false;
            } else if (password.length > 0 && $.trim(password.val()) == "") {
                alert("请填写密码");
                return false;
            } else {
                $.ajax({
                    url: "users/update_user",
                    type: "post",
                    data: $("#edit_user_1").serialize(),
                    dataType: "json",
                    success: function (data) {
                        if (data.success) {
                            window.location.href = "/users";
                        } else {
                            alert("保存失败！")
                        }
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        error_info(XMLHttpRequest, textStatus, errorThrown);
                    }
                })

            }
        })
    })
</script>
