
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>修改密码</title>

</head>
<body>
<div class="form-container">
        <form class="user_form" id="edit_user_3" action="users/update_password" accept-charset="UTF-8"
              data-remote="true" method="post">
            <p class="installarp">
                用户信息
                <span style="color: red;font-size: 12px;">
                      </span>
            </p>
            <table class="alertbox2table" style="margin-top: 15px;" cellspacing="15" cellpadding="15"
                   border="0">
                <tbody>
                <tr>
                    <td>用户名:</td>
                    <td>
                        <input readonly="readonly" type="text" value="{{ userinfo.username }}" name="username"
                               id="username">
                    </td>
                </tr>
                <tr>
                    <td>原密码:</td>
                    <td>
                        <input type="password" name="past_password" id="past_password">
                    </td>
                </tr>
                <tr>
                    <td>新密码:</td>
                    <td>
                        <input type="password" name="password" id="password">
                    </td>
                </tr>
                <tr>
                    <td>确定密码:</td>
                    <td>
                        <input type="password" name="password2" id="password2">
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="alertboxbottom">
                <button class="btn2 user-save" type="button" style="margin-left:207px ;margin-top: 42px;">保存
                </button>
            </div>
        </form>
</div>
<script type="text/javascript">
    $(function () {
        $(".form-container").on("click", ".user-save", function () {
            var past_password = $.trim($("#past_password").val()),password = $.trim($("#password").val()), password2 = $.trim($("#password2").val());
            if (past_password == "") {
                alert("请填写新密码");
                return false;
            }
            else if (password == "") {
                alert("请填写新密码");
                return false;
            } else if (password != password2) {
                alert("新密码和确定密码不一致");
                return false;
            }else if (!password_check(password)) {
                alert("密码格式错误，密码由6到22位大小写字母、数字或!@#$%^&*?.构成！");
                return false;
            } else {
                $.ajax({
                    url: "users/update_password",
                    type: "post",
                    data: $("#edit_user_3").serialize(),
                    dataType: "json",
                    success: function (data) {
                        if (data.success) {
                            window.location.href = "../.."+window.location.pathname;
                        } else {
                            alert(data.msg);
                        }
                    },
                    error: function (XMLHttpRequest, textStatus, errorThrown) {
                        error_info(XMLHttpRequest, textStatus, errorThrown);
                    }
                })
            }
        })
    })
</script>
</body>
</html>