{% extends '../base/base.html' %}

{% load staticfiles %}

{% block title %}许可管理{% endblock %}

{% block head %}
<style>
        select {
            width: 210px;
            height: 28px;
        }
        p {
            margin: 0 0 10px;
        }
        .general ul{
            clear: both;
            margin-left: 20px;
        }
        .general input{
            width: 200px;
            height: 30px;
            border-radius: 3px;
            outline: none;
            border: 1px solid #dbdbdb;
        }
        .general ul li{
            float: left;
            font-size: 14px;
            color: #666666;
            margin-bottom: 10px;
        }
        .general ul li:first-child{
            width: 100px;
        }
        ul,button,li{
            list-style: none;
            padding: 0px;
            margin: 0px;
        }
        .network_settings_left,.network_settings_right{
            float: left;
            width: 350px;
            margin-left: 20px;
        }
        .network_settings_left ul,.network_settings_right ul{
            clear: both;
        }
        .network_settings_left ul li,.network_settings_right ul li{
            float: left;
        }
        .network_settings_left ul li:first-child,.network_settings_right ul li:first-child{
            width: 75px;
        }
        .target{
            width: 550;
            height: 100%;
            margin-left: 0px;
            font-size: 24px;
            line-height: 30px;
            border: 0;
            outline: 0;
            min-height: 300px;
            min-width: 550px;
            position: relative;
            background-color: #fff;
            position: relative;
            border: 1px solid #dedede;
        }
        .dropzone {
            background: white none repeat scroll 0 0;
            border: 2px dashed #0087f7;
            border-radius: 5px;
            cursor: pointer;
            min-height: 30px;
            padding: 5px;
            width: 400px;
          }
          .dz-preview{
            min-height: 50px;
          }
          .dropzone .dz-preview {
            min-height: 70px;
          }
          .dropzone .dz-preview .dz-image {
            height: 50px;
          }
          .dropzone .dz-preview .dz-details {
            height: 50px;
            padding: 1em;
          }
    </style>
{% endblock %}

{% block content %}
<div class="content">
    <div class="bkleft sidebar ">
        <ul class="side-nav nav">
            <li>
                <a href="#" data-target="#task_list_ul" data-toggle="collapse" class="nav-title" aria-expanded="true">任务管理<i class="caret"></i></a>
                <ul id="task_list_ul" class="nav-second-title collapse show in" aria-expanded="true">
                    <li>
                        <a href="products" class="">
                            产品列表
                        </a>
                        <a href="version_management" class="">
                            版本管理
                        </a>
                        <a href="license_management" class="act">
                            授权管理
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="bkleri">
        <div class="boxleft propertymore">
            <div class="propertyone">
                <div class="installbarT">
                    <div class="installbarTinside">
                        <span>产品选择：</span>
                        <select id="product_select">
                            <option value="">全选</option>
                            {% for product in product_list %}
                            {% if product.selected %}
                            <option value="{{ product.id }}" selected>{{ product.name }}</option>
                            {% else %}
                            <option value="{{ product.id }}">{{ product.name }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                        <button class="logobtn installthreebtn" style="">
                            <span class="glyphicon glyphicon-plus"></span>创建许可
                        </button>
                    </div>
                </div>
                <div class="table-responsive" style="position: relative; ">
                    <div style="padding-bottom: 15px;display: none" class="highsearch1">
                        <div class="highsearch">
                        </div>
                    </div>
                </div>
                <div class="table-responsive" style="position: relative">
                    <table class="table" style="width: 100%;">
                        <thead>
                        <tr>
                            <th style="width:15%;">产品名称</th>
                            <th style="width:10%">部署单位</th>
                            <th style="width:15%">许可过期时间</th>
                            <th style="width:25%">描述</th>
                            <th style="width:15%">生成时间</th>
                            <th style="width:10%">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for hit in hits %}
                        <tr>
                            <td>{{ hit.product_name }}</td>
                            <td>{{ hit.unit_name }}</td>
                            <td>{{ hit.over_time }}</td>
                            <td>{{hit.description}}</td>
                            <td>{{ hit.timestamp }}</td>
                            <td>
                                <a href="license/download?id={{ hit.id }}"><span class="glyphicon glyphicon-download"></span></a>
                                <a data-confirm="确定要删除该许可吗？" href="license/delete?id={{ hit.id }}"><span class="glyphicon glyphicon-trash"></span></a>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <ul class="paginationself right">
                        <div class="totalnum">
                            <p class="totalnump">总数&nbsp;&nbsp;: &nbsp;<i class="totalnumber">{{ total }}</i></p>
                        </div>
                        {% if current_page == 1 %}
                        <span class="previous_page disabled">&lt;</span>
                        {% else %}
                        <a class="previous_page" href="license_management?page={{ last_page }}">&lt;</a>
                        {% endif %}
                        {% for page in page_list %}
                        {% if page == current_page %}
                        <em class="current">{{ current_page }}</em>
                        {% else %}
                        <a href="license_management?page={{ page }}">{{ page }}</a>
                        {% endif %}
                        {% endfor %}
                        {% if current_page == page_nums %}
                        <span class="previous_page disabled">&gt;</span>
                        {% else %}
                        <a class="next_page" rel="next" href="license_management?page={{ next_page }}">&gt;</a>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="body-color"></div>
<script>
    $(function () {
        $('.installthreebtn').click(function() {
            $("#create-div").html("");
            setTimeout(function(){
                $.get("/license/new", function (html) {
              $("#create-div").html(html);
            }, 'html');
                  $('.body-color').fadeIn(100); //全局变得黑的效果，
            $('#installtwo').show();
            },1000)
          });
         $('#installmore>div .close').click(function() {
            $('.body-color').fadeOut(100);
            $(this).parent().parent().slideUp(200); //将显示的窗口隐藏起来
          });
        $('#product_select').change(function(){
            var product_id = $(this).val();
            window.location = 'license_management?product_id=' + product_id;
        })
    })
</script>
{% endblock %}

