{% extends '../base/base.html' %}

{% load staticfiles %}

{% block title %}产品管理{% endblock %}

{% block head %}
<link rel="stylesheet" media="all" href="{% static 'css/iconfont.css' %}?v={{ version }}">
<style>

    </style>
{% endblock %}

{% block content %}
<div class="content">
    <div class="bkleft sidebar ">
        <ul class="side-nav nav">
            <li>
                <a href="#" data-target="#task_list_ul" data-toggle="collapse" class="nav-title" aria-expanded="true">产品管理<i class="caret"></i></a>
                <ul id="task_list_ul" class="nav-second-title collapse show in" aria-expanded="true">
                    <li>
                        <a href="products" class="act">
                            产品列表
                        </a>
                        <a href="version_management" class="">
                            版本管理
                        </a>
                        <a href="license_management" class="">
                            授权管理
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="bkleri">
        <div class="boxleft propertymore">
            <div class="propertyone">
                <div class="installbarT">
                    <div class="installbarTinside">
                        <button class="logobtn installthreebtn" style="">
                            <span class="glyphicon glyphicon-plus "></span>手动添加
                        </button>
                    </div>
                </div>
                <div style="">
                    <table class="table table-striped ">
                        <thead>
                        <tr>
                            <th style="width:15%">产品名称</th>
                            <th style="width:15%">负责人</th>
                            <th style="width:10%">发布版本数</th>
                            <th style="width:10%">发放许可数</th>
                            <th style="width:15%">创建时间</th>
                            <th style="width:15%">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for hit in hits %}
                        <tr>
                            <td>{{ hit.name }}</td>
                            <td>{{ hit.leader }}</td>
                            <td><a href="version_management?product_id={{ hit.id }}">{{hit.version_num}}</a></td>
                            <td><a href="license_management?product_id={{ hit.id }}">{{hit.license_num}}</a></td>
                            <td>{{ hit.timestamp }}</td>
                            <td>
                                <a rel="products/edit?id={{ hit.id }}" class="product-edit" title="编辑产品信息"
                                   href="javascript: void(0)"><i
                                        class="iconfont icon-pen"></i></a>
                                <a data-confirm="确定要删除吗？系统会删除该产品下所有版本及许可管理信息 ！" href="products/delete?id={{ hit.id }}"><span class="glyphicon glyphicon-trash"></span></a>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <div style="padding: 15px 15px 15px 9px;position:relative;">
                        <div style="float: right;padding: 15px;">
                            <ul class="paginationself right">
                                <div class="totalnum">
                                    <p class="totalnump">总数&nbsp;&nbsp;: &nbsp;<i class="totalnumber">{{ total }}</i></p>
                                </div>
                                {% if current_page == 1 %}
                                <span class="previous_page disabled">&lt;</span>
                                {% else %}
                                <a class="previous_page" href="version_management?page={{ last_page }}">&lt;</a>
                                {% endif %}
                                {% for page in page_list %}
                                {% if page == current_page %}
                                <em class="current">{{ current_page }}</em>
                                {% else %}
                                <a href="version_management?page={{ page }}">{{ page }}</a>
                                {% endif %}
                                {% endfor %}
                                {% if current_page == page_num %}
                                <span class="previous_page disabled">&gt;</span>
                                {% else %}
                                <a class="next_page" rel="next" href="version_management?page={{ next_page }}">&gt;</a>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="body-color"></div>
<script>
    $(function () {
        $('.installthreebtn').click(function() {
            $("#create-div").html("");
            $.get("/products/new", function (html) {
              $("#create-div").html(html);
            }, 'html');
            $('.body-color').fadeIn(100); //全局变得黑的效果，
            $('#installtwo').show();
          });
         $('#installmore>div .close').click(function() {
            $('.body-color').fadeOut(100);
            $(this).parent().parent().slideUp(200); //将显示的窗口隐藏起来
          });
          $(".product-edit").click(function () {
            $.get($(this).attr('rel'), function (html) {
                $("#create-div").html(html);
            }, 'html');
            $('.body-color').fadeIn(100); //全局变得黑的效果，
            $('#installtwo').show();
        })
    })
</script>
{% endblock %}

