<form class="ip_range_form" style="    line-height: 39px;" onsubmit="return false" autocomplete="off" id="new_license" action="" accept-charset="UTF-8"  method="post">
    <p class="installarp" style="margin-top: 10px;">
        生成许可信息
        <span style="color: red;font-size: 12px;">
      </span>
    </p>
    <div class="general" style="max-height: 230px;width: 700px;">
        <ul>
            <li>产品&nbsp;:</li>
            <li>
                <select style="width:400px;" id="new_license_product_select" name="product">
                    {% for product in product_list %}
                    <option value="{{ product.id }}">{{ product.name }}</option>
                    {% endfor %}
                </select>
            </li>
        </ul>
        <ul>
            <li>单位名称&nbsp;:</li>
            <li><input name="unit_name" style="width:400px;"></li>
        </ul>
        <ul>
            <li>设备编码&nbsp;:</li>
            <li><input style="width:400px;" id="device_id" name="device_id"></li>
        </ul>
        <ul>
            <li>描述&nbsp;:</li>
            <li><textarea name="description" style="width:400px;"></textarea></li>
        </ul>
        <ul>
            <li>许可过期时间&nbsp;:</li>
            <li><input name="over_time" style="width:400px;" placeholder="许可过期时间" onfocus="WdatePicker({dateFmt:'yyyy-MM-dd HH:mm:ss'});"></li>
        </ul>
    </div>
    <div class="alertboxbottom">
        <button class="btn2 btn_self_defined_submit" style="margin-left:207px ;margin-top: 30px;">生成</button>
    </div>
</form>
<script>
    $(".btn_self_defined_submit").click(function () {
            var formData = new FormData($("#new_license")[0]);
            var product_name = $("#new_license_product_select").find("option:selected").text();
            console.log("产品名：" + product_name);
            formData.append('product_name',product_name);
            $.ajax({
                url: "/license/new",
                type: "post",
                data: formData,
                async: false,
                cache: false,
                contentType: false,
                processData: false,
                dataType: "json",
                success: function (data) {
                  if (data.success){
                    window.location.reload();
                  } else {
                    alert(data.msg);
                  }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    error_info(XMLHttpRequest, textStatus, errorThrown);
                }
              })
    })
</script>
<style>
  .alertbox2table tbody tr td:first-child{
    width: 90px;
  }
</style>