<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>{% block title %}产品管理{% endblock %}</title>
    <link rel="stylesheet" media="all" href="{% static 'css/application.css' %}" data-turbolinks-track="reload">
    <link rel="stylesheet" media="all" href="{% static 'css/app.css' %}" data-turbolinks-track="reload">
    <link rel="stylesheet" media="all" href="{% static 'css/bootstrap.min.css' %}?v={{ version }}">
    <script src="{% static 'js/application.js' %}" data-turbolinks-track="reload"></script>
    <script src="{% static 'js/WdatePicker.js' %}?v={{ version }}"></script>
    <script src="{% static 'js/jquery-ui.min.js' %}" data-turbolinks-track="reload"></script>
    {% block head %}
    {% endblock %}
    <style>
        .headerlogo .nav1{
            line-height: 45px;
            width: auto;
            display: contents;
        }
        .headerlogo .nav1 span{
            color: #b4b5b7;
        }
        .headerlogo .nav1 .act{
            color: white;
            background: center;
        }
        .headerlogo .nav1 a span:hover{
            color: white;
            background: center;
        }
        .dropdown-menu li a{
            text-align: center;
        }
        .table{
            border-top: 1px solid #e9e9e9;
        }
    </style>
</head>
<body>
    <div class="headerlogo">
        <img class="logo" style="float: left;" src="{% static 'images/logo.png' %}">
        <div class="title_name">
            <span>{{ system_title }}</span>
        </div>
        <div class="nav1">
            <a href=".."><span id="main" class="">首页</span></a>
            <a href="../products"><span id="product" class="">产品管理</span></a>
            <a href="../users"><span id="users" class="">用户管理</span></a>
        </div>
        <div class="clientname">
            <li class="dropdown">
                <a id="clientname2" class="dropdown-toggle username" data-toggle="dropdown">{{ username }}<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu" style="margin-top: 14px;margin-left: 165px;z-index: 8990;">
                    {% if is_superuser == 1 %}
                    <li><a class="" href="../users" style="text-align: center;">用户管理</a></li>
                    {% endif %}
                    <li><a rel="/update_password?username={{ username }}" class="user-reset-passwd" title="重置密码"
                           href="javascript: void(0)">密码重置</a></li>
                    <li><a class="" href="../system_info" style="text-align: center;">系统状态</a></li>
                    <li><a style="text-align: center;" rel="nofollow" data-method="delete" href="../logout">退出</a></li>
                </ul>
            </li>
        </div>
        <div class="messagetip" style="display: none;">
            <div class="text-info" style="color: white;">
            </div>
        </div>
    </div>
    {% block content %}
    {% endblock %}
    <div id="installmore">
        <div id="installtwo" class="alertbox2" style="height: auto;">
            <div class="close-window">
                <a href="javascript:;" title="关闭" class="close">×</a>
            </div>
            <div style="margin: 15px 30px;" id="create-div">
            </div>
        </div>
        <div id="installthree" class="alertbox2" style="height: 480px;">
            <div class="close-window">
                <a href="javascript:;" title="关闭" class="close">×</a>
            </div>
            <div style="margin: 15px 30px;" id="create-div-2">
            </div>
        </div>
    </div>
{% block content1 %}
{% endblock %}
    <script>
        $('#installmore>div .close').click(function () {
            $('.body-color').fadeOut(100);
            $(this).parent().parent().slideUp(200); //将显示的窗口隐藏起来
        });
        $(document).ready(function(){
            var tag = "{{ html_tag }}";
            if( tag != null || tag != "" ){
                $("#"+tag).addClass("act");
            }
        })
    </script>
</body>
{% block script %}
{% endblock %}
</html>